---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { banner } = Astro.props;
const { t } = Astro.props;
const { title, button, image, content } = banner;
---

<section class="section banner relative">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title" set:html={markdownify(title)} />

        <p class="mt-6" set:html={markdownify(content)} />

        {
          button.enable && (
            <a
      href={button.link}
      class="btn mt-8 bg-[#FFC300] hover:bg-[#FFB000] text-[#FFFFFF]
             focus:outline-none focus-visible:ring-2 focus-visible:ring-[#FFC300]
             rounded-3xl"
    >
      {button.labelKey && typeof t === 'function' ? t(button.labelKey) : button.label}
    </a>
          )
        }
      </div>
      <div class="lg:col-6">
        <Image
          class="w-full object-contain"
          alt="banner"
          src={image}
          width={603}
          height={396}
        />
      </div>
    </div>
  </div>

  <Image
    class="banner-shape absolute -top-28 right-0 -z-[1] w-full max-w-[30%]"
    alt="banner"
    src="/images/banner-shape.png"
    width={496}
    height={466}
  />
</section>
