---
import configRaw from "@/config/config.json";
const config: any = configRaw;
const { t } = Astro.props;

const {
  call_to_action: {
    title,
    titleKey,
    description,
    descriptionKey,
    button: { label, labelKey, link },
  },
} = config;
---

<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div
      class="bg-gradient row justify-center rounded-b-[80px] rounded-t-[20px] px-[30px] pb-[75px] pt-16"
    >
      <div class="lg:col-11">
        <div class="row">
          <div class="lg:col-7">
            <h2 class="h1 text-white">{titleKey && typeof t === 'function' ? t(titleKey) : title}</h2>
            <a class="btn btn-white mt-8" href={link}>{labelKey && typeof t === 'function' ? t(labelKey) : label}</a>
          </div>
          <div class="mt-8 lg:col-5 lg:mt-0">
            <p class="text-white">
              {descriptionKey && typeof t === 'function' ? t(descriptionKey) : description}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
